# Caches
**/__pycache__
cache
**/.cache
**/.mypy_cache

# Libraries
venv*
.venv*

# Logs
traces
logger.log
*.jsonl
result_gptfuzz.txt
prompt_success.txt

# Non-relevant files and folders
README.md
*.md
docs/
examples/
build/
dist/
*.egg-info/

# Sensitive data
.env*

# Development files and folders
.vscode
.gitignore
.git
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/test*
**/Test*
**/.coverage
**/htmlcov
**/.tox
